@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  background-size: cover;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

div#fashion {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  transition: 0.4s;
}



h1 {
  font-family: Moderne Sans, sans-serif;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  letter-spacing: 0.5rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}

h2 {
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  font-size: 8vmin;
  text-align: center;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  color: #fff;
  font-weight: 100;
}










@-webkit-keyframes jitter-20-20-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(0px, 0.2px);
  }
  90% {
    transform: translate(1px, 0.2px);
  }
  85% {
    transform: translate(0.75px, -0.45px);
  }
  80% {
    transform: translate(1.2px, 0.6px);
  }
  75% {
    transform: translate(-0.25px, 0.25px);
  }
  70% {
    transform: translate(1.5px, 0.6px);
  }
  65% {
    transform: translate(3.15px, 0.7px);
  }
  60% {
    transform: translate(-1.2px, -1.2px);
  }
  55% {
    transform: translate(1.35px, -0.45px);
  }
  50% {
    transform: translate(2.5px, -0.5px);
  }
  45% {
    transform: translate(2.75px, 1.65px);
  }
  40% {
    transform: translate(-1.2px, 2.4px);
  }
  35% {
    transform: translate(0.65px, -0.65px);
  }
  30% {
    transform: translate(-4.9px, 2.8px);
  }
  25% {
    transform: translate(4.5px, 1.5px);
  }
  20% {
    transform: translate(4px, 2.4px);
  }
  15% {
    transform: translate(1.7px, -0.85px);
  }
  10% {
    transform: translate(6.3px, 2.7px);
  }
  5% {
    transform: translate(-8.55px, -2.85px);
  }
}
@keyframes jitter-20-20-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(0px, 0.2px);
  }
  90% {
    transform: translate(1px, 0.2px);
  }
  85% {
    transform: translate(0.75px, -0.45px);
  }
  80% {
    transform: translate(1.2px, 0.6px);
  }
  75% {
    transform: translate(-0.25px, 0.25px);
  }
  70% {
    transform: translate(1.5px, 0.6px);
  }
  65% {
    transform: translate(3.15px, 0.7px);
  }
  60% {
    transform: translate(-1.2px, -1.2px);
  }
  55% {
    transform: translate(1.35px, -0.45px);
  }
  50% {
    transform: translate(2.5px, -0.5px);
  }
  45% {
    transform: translate(2.75px, 1.65px);
  }
  40% {
    transform: translate(-1.2px, 2.4px);
  }
  35% {
    transform: translate(0.65px, -0.65px);
  }
  30% {
    transform: translate(-4.9px, 2.8px);
  }
  25% {
    transform: translate(4.5px, 1.5px);
  }
  20% {
    transform: translate(4px, 2.4px);
  }
  15% {
    transform: translate(1.7px, -0.85px);
  }
  10% {
    transform: translate(6.3px, 2.7px);
  }
  5% {
    transform: translate(-8.55px, -2.85px);
  }
}
@-webkit-keyframes jitter-20-21-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.075px, -0.1px);
  }
  90% {
    transform: translate(0.95px, 0.3px);
  }
  85% {
    transform: translate(0.525px, 0px);
  }
  80% {
    transform: translate(-0.1px, 0.6px);
  }
  75% {
    transform: translate(1.625px, -0.75px);
  }
  70% {
    transform: translate(-1.95px, 0.6px);
  }
  65% {
    transform: translate(-2.625px, 1.05px);
  }
  60% {
    transform: translate(1px, 1.6px);
  }
  55% {
    transform: translate(4.275px, -1.35px);
  }
  50% {
    transform: translate(3.25px, 0.5px);
  }
  45% {
    transform: translate(-0.275px, 0px);
  }
  40% {
    transform: translate(2.1px, 0.6px);
  }
  35% {
    transform: translate(-0.325px, 1.3px);
  }
  30% {
    transform: translate(-1.75px, 2.8px);
  }
  25% {
    transform: translate(-2.625px, -2.25px);
  }
  20% {
    transform: translate(-5.2px, 2.4px);
  }
  15% {
    transform: translate(8.925px, 3.4px);
  }
  10% {
    transform: translate(6.75px, 0.9px);
  }
  5% {
    transform: translate(3.325px, -1.9px);
  }
}
@keyframes jitter-20-21-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.075px, -0.1px);
  }
  90% {
    transform: translate(0.95px, 0.3px);
  }
  85% {
    transform: translate(0.525px, 0px);
  }
  80% {
    transform: translate(-0.1px, 0.6px);
  }
  75% {
    transform: translate(1.625px, -0.75px);
  }
  70% {
    transform: translate(-1.95px, 0.6px);
  }
  65% {
    transform: translate(-2.625px, 1.05px);
  }
  60% {
    transform: translate(1px, 1.6px);
  }
  55% {
    transform: translate(4.275px, -1.35px);
  }
  50% {
    transform: translate(3.25px, 0.5px);
  }
  45% {
    transform: translate(-0.275px, 0px);
  }
  40% {
    transform: translate(2.1px, 0.6px);
  }
  35% {
    transform: translate(-0.325px, 1.3px);
  }
  30% {
    transform: translate(-1.75px, 2.8px);
  }
  25% {
    transform: translate(-2.625px, -2.25px);
  }
  20% {
    transform: translate(-5.2px, 2.4px);
  }
  15% {
    transform: translate(8.925px, 3.4px);
  }
  10% {
    transform: translate(6.75px, 0.9px);
  }
  5% {
    transform: translate(3.325px, -1.9px);
  }
}
@-webkit-keyframes jitter-20-22-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.05px, -0.1px);
  }
  90% {
    transform: translate(-0.1px, -0.3px);
  }
  85% {
    transform: translate(0px, 0.6px);
  }
  80% {
    transform: translate(-1.8px, 0.8px);
  }
  75% {
    transform: translate(2.5px, -0.5px);
  }
  70% {
    transform: translate(1.2px, -0.6px);
  }
  65% {
    transform: translate(2.8px, -0.7px);
  }
  60% {
    transform: translate(-1.6px, -1.2px);
  }
  55% {
    transform: translate(-0.9px, -0.45px);
  }
  50% {
    transform: translate(3.5px, 0px);
  }
  45% {
    transform: translate(4.4px, -1.1px);
  }
  40% {
    transform: translate(4.8px, 1.8px);
  }
  35% {
    transform: translate(3.25px, -1.3px);
  }
  30% {
    transform: translate(-0.7px, 2.1px);
  }
  25% {
    transform: translate(3px, -1.5px);
  }
  20% {
    transform: translate(-2.4px, 3.2px);
  }
  15% {
    transform: translate(1.7px, -0.85px);
  }
  10% {
    transform: translate(9.9px, 1.8px);
  }
  5% {
    transform: translate(5.7px, 3.8px);
  }
}
@keyframes jitter-20-22-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.05px, -0.1px);
  }
  90% {
    transform: translate(-0.1px, -0.3px);
  }
  85% {
    transform: translate(0px, 0.6px);
  }
  80% {
    transform: translate(-1.8px, 0.8px);
  }
  75% {
    transform: translate(2.5px, -0.5px);
  }
  70% {
    transform: translate(1.2px, -0.6px);
  }
  65% {
    transform: translate(2.8px, -0.7px);
  }
  60% {
    transform: translate(-1.6px, -1.2px);
  }
  55% {
    transform: translate(-0.9px, -0.45px);
  }
  50% {
    transform: translate(3.5px, 0px);
  }
  45% {
    transform: translate(4.4px, -1.1px);
  }
  40% {
    transform: translate(4.8px, 1.8px);
  }
  35% {
    transform: translate(3.25px, -1.3px);
  }
  30% {
    transform: translate(-0.7px, 2.1px);
  }
  25% {
    transform: translate(3px, -1.5px);
  }
  20% {
    transform: translate(-2.4px, 3.2px);
  }
  15% {
    transform: translate(1.7px, -0.85px);
  }
  10% {
    transform: translate(9.9px, 1.8px);
  }
  5% {
    transform: translate(5.7px, 3.8px);
  }
}
@-webkit-keyframes jitter-20-23-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.525px, -0.1px);
  }
  90% {
    transform: translate(-0.35px, 0px);
  }
  85% {
    transform: translate(-0.675px, -0.3px);
  }
  80% {
    transform: translate(0.3px, -0.4px);
  }
  75% {
    transform: translate(-0.625px, 1px);
  }
  70% {
    transform: translate(-1.35px, 0.6px);
  }
  65% {
    transform: translate(2.625px, 1.4px);
  }
  60% {
    transform: translate(1.4px, 0px);
  }
  55% {
    transform: translate(4.275px, 0.45px);
  }
  50% {
    transform: translate(3.75px, 0px);
  }
  45% {
    transform: translate(-5.775px, -1.1px);
  }
  40% {
    transform: translate(-6.3px, 2.4px);
  }
  35% {
    transform: translate(4.225px, 0px);
  }
  30% {
    transform: translate(-3.15px, 0.7px);
  }
  25% {
    transform: translate(-1.875px, 2.25px);
  }
  20% {
    transform: translate(9.2px, -2.4px);
  }
  15% {
    transform: translate(4.675px, 0.85px);
  }
  10% {
    transform: translate(-2.25px, 1.8px);
  }
  5% {
    transform: translate(5.225px, -2.85px);
  }
}
@keyframes jitter-20-23-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.525px, -0.1px);
  }
  90% {
    transform: translate(-0.35px, 0px);
  }
  85% {
    transform: translate(-0.675px, -0.3px);
  }
  80% {
    transform: translate(0.3px, -0.4px);
  }
  75% {
    transform: translate(-0.625px, 1px);
  }
  70% {
    transform: translate(-1.35px, 0.6px);
  }
  65% {
    transform: translate(2.625px, 1.4px);
  }
  60% {
    transform: translate(1.4px, 0px);
  }
  55% {
    transform: translate(4.275px, 0.45px);
  }
  50% {
    transform: translate(3.75px, 0px);
  }
  45% {
    transform: translate(-5.775px, -1.1px);
  }
  40% {
    transform: translate(-6.3px, 2.4px);
  }
  35% {
    transform: translate(4.225px, 0px);
  }
  30% {
    transform: translate(-3.15px, 0.7px);
  }
  25% {
    transform: translate(-1.875px, 2.25px);
  }
  20% {
    transform: translate(9.2px, -2.4px);
  }
  15% {
    transform: translate(4.675px, 0.85px);
  }
  10% {
    transform: translate(-2.25px, 1.8px);
  }
  5% {
    transform: translate(5.225px, -2.85px);
  }
}
@-webkit-keyframes jitter-20-24-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.05px, -0.05px);
  }
  90% {
    transform: translate(0.7px, -0.2px);
  }
  85% {
    transform: translate(0.6px, 0.45px);
  }
  80% {
    transform: translate(-0.2px, 0.6px);
  }
  75% {
    transform: translate(-1.75px, 0px);
  }
  70% {
    transform: translate(-1.5px, 0.9px);
  }
  65% {
    transform: translate(-0.7px, 0px);
  }
  60% {
    transform: translate(2.8px, -0.8px);
  }
  55% {
    transform: translate(-2.7px, 1.8px);
  }
  50% {
    transform: translate(-2px, 0px);
  }
  45% {
    transform: translate(-6.05px, 2.2px);
  }
  40% {
    transform: translate(3.6px, -0.6px);
  }
  35% {
    transform: translate(0.65px, -1.3px);
  }
  30% {
    transform: translate(7px, 0px);
  }
  25% {
    transform: translate(4.5px, -0.75px);
  }
  20% {
    transform: translate(5.6px, -2.4px);
  }
  15% {
    transform: translate(2.55px, -0.85px);
  }
  10% {
    transform: translate(9px, -2.7px);
  }
  5% {
    transform: translate(2.85px, -0.95px);
  }
}
@keyframes jitter-20-24-8 {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    transform: translate(-0.05px, -0.05px);
  }
  90% {
    transform: translate(0.7px, -0.2px);
  }
  85% {
    transform: translate(0.6px, 0.45px);
  }
  80% {
    transform: translate(-0.2px, 0.6px);
  }
  75% {
    transform: translate(-1.75px, 0px);
  }
  70% {
    transform: translate(-1.5px, 0.9px);
  }
  65% {
    transform: translate(-0.7px, 0px);
  }
  60% {
    transform: translate(2.8px, -0.8px);
  }
  55% {
    transform: translate(-2.7px, 1.8px);
  }
  50% {
    transform: translate(-2px, 0px);
  }
  45% {
    transform: translate(-6.05px, 2.2px);
  }
  40% {
    transform: translate(3.6px, -0.6px);
  }
  35% {
    transform: translate(0.65px, -1.3px);
  }
  30% {
    transform: translate(7px, 0px);
  }
  25% {
    transform: translate(4.5px, -0.75px);
  }
  20% {
    transform: translate(5.6px, -2.4px);
  }
  15% {
    transform: translate(2.55px, -0.85px);
  }
  10% {
    transform: translate(9px, -2.7px);
  }
  5% {
    transform: translate(2.85px, -0.95px);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: #111;
}

a {
  text-decoration: none;
  color: white;
}

.glitch-btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  letter-spacing: 0.1em;
  line-height: 1.4;
  text-transform: uppercase;
  z-index: 1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.glitch-btn:hover {
  color: black;
}
.glitch-btn:hover:before {
  background: white;
  transform: translateY(-50%) scaleY(1.5);
}
.glitch-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -18px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 80%;
  padding: 0 15px;
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.glitch-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -18px;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.glitch-btn .mask {
  position: absolute;
  -webkit-backface-visibility: hidden;
  height: 20%;
  width: 100%;
  overflow: hidden;
  display: none;
}
.glitch-btn .mask span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.glitch-btn .mask:nth-child(6) {
  top: 100%;
}
.glitch-btn .mask:nth-child(6) span {
  top: -500%;
}
.glitch-btn .mask:nth-child(5) {
  top: 80%;
}
.glitch-btn .mask:nth-child(5) span {
  top: -400%;
}
.glitch-btn .mask:nth-child(4) {
  top: 60%;
}
.glitch-btn .mask:nth-child(4) span {
  top: -300%;
}
.glitch-btn .mask:nth-child(3) {
  top: 40%;
}
.glitch-btn .mask:nth-child(3) span {
  top: -200%;
}
.glitch-btn .mask:nth-child(2) {
  top: 20%;
}
.glitch-btn .mask:nth-child(2) span {
  top: -100%;
}
.glitch-btn:hover .label {
  -webkit-animation: fade-in 0.8s both;
  animation: fade-in 0.8s both;
}
.glitch-btn:hover .mask {
  display: block;
}
.glitch-btn:hover .mask:nth-child(6) {
  -webkit-animation: jitter-20-25-8 0.3s both;
  animation: jitter-20-25-8 0.3s both;
}
.glitch-btn:hover .mask:nth-child(5) {
  -webkit-animation: jitter-20-24-8 0.3s both;
  animation: jitter-20-24-8 0.3s both;
}
.glitch-btn:hover .mask:nth-child(4) {
  -webkit-animation: jitter-20-23-8 0.3s both;
  animation: jitter-20-23-8 0.3s both;
}
.glitch-btn:hover .mask:nth-child(3) {
  -webkit-animation: jitter-20-22-8 0.3s both;
  animation: jitter-20-22-8 0.3s both;
}
.glitch-btn:hover .mask:nth-child(2) {
  -webkit-animation: jitter-20-21-8 0.3s both;
  animation: jitter-20-21-8 0.3s both;
}